{% import 'menu-item.njk' as menu_item with context %}

{%- if theme.menu or theme.algolia_search.enable or theme.local_search.enable %}
<nav class="site-nav">
  <ul class="main-menu menu">
    {%- for node in theme.main_menu %}
      {{- menu_item.render(node) | trim }}
    {%- endfor %}

    {%- if theme.algolia_search.enable or theme.local_search.enable %}
      <li class="menu-item menu-item-search">
        <a role="button" class="popup-trigger">
          {%- if theme.menu_settings.icons %}<i class="fa fa-search fa-fw"></i>{% endif %}{{ __('menu.search') }}
        </a>
      </li>
    {%- endif %}
  </ul>
</nav>
{%- endif %}
{%- if theme.social %}
  <div class="links-of-author site-overview-item animated">
    {%- for name, link in theme.social %}
      <span class="links-of-author-item">
        {%- set sidebarURL = link.split('||')[0] | trim %}
        {%- set sidebarIcon = '<i class="' + link.split('||')[1] | trim + ' fa-fw"></i>' if theme.social_icons.enable and link.split('||')[1] else '' %}
        {%- set sidebarText = '' if (theme.social_icons.enable and theme.social_icons.icons_only) else name %}
        {{ next_url(sidebarURL, sidebarIcon + sidebarText, {title: name + ' → ' + sidebarURL}) }}
      </span>
    {%- endfor %}
  </div>
{%- endif %}